@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400");

.listItem {
  display: flex;
  align-items: center;
}

.listItem button {
  height: 20px;
  margin-left: 10px;
}

body {
  font-family: "Montserrat";
}
